* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 18px;
}

body {
  background: var(--primary-color-light);
}

button {
  background-color: var(--board-color);
  padding: 10px;
  border: 1px solid var(--board-color);
  border-bottom: 1px solid var(--border-color);
  border-radius: 7px;
  color: black;
  cursor: pointer;
}

select {
  appearance: none;
  padding: 10px;
  text-align-last: center;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='black'><polygon points='0,0 100,0 50,50'/></svg>")
    no-repeat;
  background-size: 12px;
  background-position: calc(100% - 10px) center;
  border: 0;
  background-color: var(--board-color);
  border-bottom: 1px solid var(--border-color);
  border-radius: 7px;
  color: black;
  cursor: pointer;
}

.App {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.app-container {
  width: 95%;
  margin: 10px 0;
}

.board-container {
  position: relative;
  margin: 20px 0;
  &:after {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  flex-wrap: wrap;
  position: absolute;
  border: 3px solid var(--board-color);
  border-radius: 7px;
  background: var(--board-color);
  width: 100%;
  height: 100%;
}

.board__4 {
  grid-template-columns: repeat(4, 1fr);
}

.board__5 {
  grid-template-columns: repeat(5, 1fr);
}

.dice {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 7px;
  font-weight: 600;
  font-size: 8vw;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15);
  background: var(--primary-color-light);
  color: var(--primary-color-dark);
  margin: 2%;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 40px;
}

@media only screen and (min-width: 680px) {
  .app-container {
    width: 70%;
  }
  .dice {
    font-size: 2.8em;
  }
}

@media only screen and (min-width: 780px) {
  .app-container {
    width: 60%;
  }
}

@media only screen and (min-width: 1050px) {
  .app-container {
    width: 40%;
  }
  .dice {
    font-size: 2.9em;
  }
}

@media only screen and (min-width: 1150px) {
  .app-container {
    width: 34%;
  }
}
