:root {
  /* variables - colors */
  --primary-color-light: white;
  --primary-color-dark: black;
  --button-text-color: white;
  --board-color: deepskyblue;
  --alert-color: red;
  --border-color: slategray;
}
